/* @import url(reset.css); */

/*layout*/
.container{
  width:1272px;
  margin: 0 auto;
}

.big-pd{
  padding: 136px 0;
}

.md-pd{
  padding-bottom: 54px;
}

.sm-pd{
  padding: 28px;
}

.xsm-pd{
  padding: 51px;
}

/* font-family: 'NanumBarunGothicExtraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold'; */


/* typography */
body{
  font-size: 16px;
  line-height: 27px;
  font-family: 'NanumBarunGothic';
}

.main-tt{
  font-size: 36px;
  font-family: 'NanumBarunGothicBold';
}
.sub-tt{
  font-size: 24px;
  line-height: 34px;
}
.small-pg{
  font-size: 14px;
}