header {
  width: 100%;
  background-color: #000;
}

#container {
  position: relative;
}

.logo a img {
  position: absolute;
  top: calc(50% - 27.5px);
  width: 196px;
  height: 55px;
}

nav {
  width: 607px;
  float: right;
  padding: 42px 0;
}

nav ul {
  height: 50px;
}

nav ul li {
  display: block;
  padding: 0 16px;
  float: right;
}

nav ul li a {
  color: #fff;
}

.top_menu:after {
  content: "";
}
