header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 157px;
  background-color: #000;
  z-index: 8;
}

header .menu-wrap {
  position: relative;
}

.container {
  height: 100%;
}

.logo {
  width: 196px;
  height: 100%;
  float: left;
}

.logo img {
  position: absolute;
  top: 51px;
  width: 196px;
  height: 55px;
}

header .menu {
  width: 600px;
  float: right;
  padding-top: 31.4px;
}

.menu ul {
  float: right;
  display: block;
  padding-bottom: 31.4px;
}

.menu ul li {
  float: left;
  padding-left: 30px;
}

.menu ul li a {
  color: #fff;
}

.menu ul li a:hover {
  color: #eb0029;
}

nav {
  position: absolute;
  bottom: -627px;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 470px;
  background-color: #fff;
  display: none;
}

nav ul {
  float: left;
  margin-right: 130px;
  /* z-index: 10; */
  text-align: left;
}

nav ul:last-child {
  margin-right: 0;
}

nav ul li {
  padding-top: 34px;
}

nav ul li a:hover {
  color: #eb0029;
}

nav ul li:first-child {
  font-family: "NanumBarunGothicBold";
}

nav.active {
  display: block;
}

/* 슬라이드 */
.slide-wrapper {
  position: relative;
  width: 100%;
  height: 870px;
  margin-top: 157px;
  overflow: hidden;
}

.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 0.3s ease-in;
}

.slide-container li {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(/images/slide1.png);
}
.slide2 {
  background-image: url(/images/slide2.png);
}
.slide3 {
  background-image: url(/images/slide3.png);
}
.slide4 {
  background-image: url(/images/slide4.png);
}
.slide5 {
  background-image: url(/images/slide5.png);
}

.slide-container li .btn {
  position: absolute;
  bottom: 50%;
  right: 50%;
}

.slide-wrapper .controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 81px;
  line-height: 81px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  text-align: center;
}

#prev {
  left: 246px;
}
#next {
  right: 246px;
}

/* 기업소개 */
.int {
  height: 600px;
}

.int ul li {
  float: left;
  width: 299px;
  margin-right: 24px;
}

.int ul li:last-child {
  margin-right: 0px;
}

.int ul li p {
  width: 299px;
  text-align: center;
}

.int ul li img {
  width: 100%;
  margin-bottom: 41px;
}

/*tab*/

.nav {
  text-align: center;
}

.tab-menu li a {
  display: block;
}

.tab-menu {
  display: inline-block;
  vertical-align: top;
}

.tab-menu section {
  float: left;
  margin: 0 12px;
}

.tab-menu section:last-child {
  margin: 0;
}

.tab-wrapper {
  width: 100%;
}

.tab-content {
  width: 100%;
  list-style-type: none;
  height: 650px;
  overflow: hidden;
}

#tab-content section:hover {
  opacity: 0.2;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.bg {
  float: left;
  width: 50%;
  object-fit: cover;
}

.sm {
  float: left;
  width: 25%;
  height: 320px;
  overflow: hidden;
}

.tabs-1,
.tab-2 > section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*accordion*/

.container {
  width: 1270px;
  margin: 0 auto;
}

.panel-question {
  margin-bottom: 20px;
  background-color: #fff;
}

.panel-heading {
  height: 70px;
  cursor: pointer;
  padding: 22px 30px;
  box-sizing: border-box;
  margin: 1px 0;
}

.panel-heading:hover {
  background-color: #eb0029;
  color: white;
}

.panel-body {
  padding: 50px 60px;
  display: none;
  height: 100px;
}

.active .panel-body {
  display: block;
}

#btn-collapse {
  margin-bottom: 10px;
  background-color: #999;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  float: right;
}

.tab-content {
  height: 640px;
  list-style: none;
}

.tab-content > div:last-child {
  display: none;
}

.tab-content > div.active {
  display: block;
}

/*esports*/
.esport {
  margin-top: 136px;
}

/*footer*/
footer {
  width: 100%;
  height: 340px;
  position: absolute;
}
